<launch>
  <arg name="video_device" default="/dev/video2"/>
  <arg name="image_width" default="640"/>
  <arg name="image_height" default="480"/>
  <arg name="pixel_format" default="yuyv"/>
  <arg name="framerate" default="30"/>
  <arg name="show_debug_image" default="true"/>

  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
    <param name="video_device" value="$(arg video_device)"/>
    <param name="image_width" value="$(arg image_width)"/>
    <param name="image_height" value="$(arg image_height)"/>
    <param name="pixel_format" value="$(arg pixel_format)"/>
    <param name="framerate" value="$(arg framerate)"/>
    <param name="camera_frame_id" value="usb_cam"/>
    <param name="io_method" value="mmap"/>
  </node>

  <node pkg="sound_play" type="soundplay_node.py" name="soundplay_node" output="screen" />

  <include file="$(find focus_companion)/launch/focus_companion.launch">
    <arg name="camera_topic" value="/usb_cam/image_raw"/>
    <arg name="show_debug_image" value="$(arg show_debug_image)"/>
  </include>
</launch>